@media(max-width:968px){
    section{
        padding: 8em 15%;
    }

    nav .btn{
        display: none;
    }
    #menu{
        display: block;
    }

    .links{
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1em 3em;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(0,0,0,0.9);
        display: none;
    }

    .links a{
        margin: 2em 0;
        display: block;
        font-size: 1.5em;
        color: white;
    }

    .links.active{
        display: block;
    }

    #home h1{
        font-size: 4em;
    }

    #home h3{
        font-size: 2em;
    }

    #home img{
        width: 24vw;
    }

    #about{
        flex-direction: column;
    }

}

@media(max-width:768px){
    #home h1{
        font-size: 2.5em;
    }

    #home h3{
        font-size: 1.5em;
    }

    #home img{
        width: 32vw;
    }

    #about .skills{
        gap: 3em;
    }

    #projects .header{
        font-size: 3em;
    }

    #contact .header{
        font-size: 2em;
    }

    #contact .contact-input{
        width: 80vw;
    }

    footer{
        flex-direction: column;
        gap: 5em;
        align-items: baseline;
    }

}

