/*GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

:root{
    --background: rgb(24,24,24);
    --second-background: rgb(21,21,21);
}

body{
    min-height: 100vh;
    background-color: var(--background);
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15,15,15,0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

ul{
    display: flex;
    align-items: center;
    gap: 3em;
}

nav ul a{
    color: white;
    opacity: 0.7;
    transition: 0.2s ease-in-out;
}

nav ul a:hover{
    opacity: 1;
}

.logo{
    font-size: 2em;
    color: white;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

.logo:hover{
    opacity: 1;
}

.contact-btn{
    padding: 0.5em 1em;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.1em;
    border: 2px solid;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.contact-btn:hover{
    background-color: white;
    color: var(--background);
}

span{
    background: linear-gradient(to right, #EC72AB, #a506c5e0);
    background-clip: text;
    color: transparent;
}

#menu{
    color: white;
    font-size: 3em;
    display: none;
}

section{
    min-height: 100vh;
    padding: 5% 15%;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
}

#home img{
    width: 18vw;
    border-radius: 50%;
    margin-top: 3em;
}

.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    max-width: 600px;
}

.info-box h1{
    font-size: 2.8em;
    font-weight: 500;
}

.info-box h3{
    font-size: 2em;
    font-weight: 400;
}

.info-box p{
    opacity: 0.7;
}

.btn-box{
    display: flex;
    gap: 1em;
}

.btn-box .contact-btn:nth-of-type(2){
    background-color: white;
    color: var(--background);
}

.btn-box .contact-btn:nth-of-type(2):hover{
    background-color: var(--background);
    color: white;
}

::-webkit-scrollbar{
    width: 20px;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom,  #FF5CCC, #743296);
}

#about{
    background-color: var(--second-background);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5em;
}


/* experience sub section */

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
}


.experience-container {
    padding: 1rem;
    flex: 1;
    background: none;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}

.experience-container img{
    width: 4rem;
    height: 4rem;
}

/*#about img{
    width: 30vw;
    border-radius: 1em;
}*/

.about-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
}


.skills-container {
    padding: 1.5rem;
    flex: 1;
    background: none;
    border-radius: 2rem;
    border: rgb(255,255,255) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: left;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
    height: 4rem;
}



.about-box h2{
    font-size: 2.5em;
}

#projects{
    background-color: var(--background);
}

.header{
    text-align: center;
    font-size: 5em;
    margin: 0.5em 0;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.box{
    border: 3px solid rgb(49,49,49);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.box:hover{
    border: 3px solid rgb(100,100,100);
}

.box p{
    opacity: 0.8;
    font-size: 1em;
}


.box h1{
    font-size: 1.45em;
}



/* Project image */
.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}


/* Project Buttons*/
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

/*btn 1 and 2 borders*/
.btn-color-1,
.btn-color-2 {
    border: rgb(53,53,53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1{
    background-color: #fff;
}

.btn-color-1:hover {
   /* background: rgb(0,0,0);*/
    background: linear-gradient(270deg, #d494ff, #fa6d86);
    color: white;
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255,255,255) 0.1rem solid;
}

.btn-container{
    gap: 1rem;
}


#contact{
    background-color: var(--second-background);
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-input{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    padding-left: 25px;
}

.contact-form textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-input:focus{
    border: 2px solid #FF5CCC;
}

.contact-input::placeholder{
    color: #878484;
}

.contact-form button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #d494ff, #fa6d86);
    cursor: pointer;
    margin: 0 auto;
  
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    bottom: 0;
    background-color: var(--background);
    width: 100%;
    padding: 5em 15%;
}

.col-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.col-box{
    display: flex;
    align-items: center;
}

.col-box i{
    font-size: 2em;
}

.col-box span{
    font-size: 1.2em;
}

.col-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    max-width: 500px;
}

.col-right span{
    font-size: 1.3em;
}

.col-right .social-icons{
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 1em;
}   

.col-right .social-icons i{
    font-size: 2em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.social-icons i:hover{
    color: white
}
